* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
}
.main-canvas {
  margin: auto;
  width: 1600x;
  height: 1200px;
}
.tv {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Put the .tv div over the canvas with z(dimension) index */
  z-index: 2;
  background-image: url(./assets/tv.png);
  background-size: cover;
}
